<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.2.min.js"></script>

    {% block script %}{% endblock %}

    <title>Find the Food</title>
</head>
<body>
    <div class="container">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills">
                    {% if page == "home": %}
                    <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
                    {% else %}
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    {% endif %}

                    {% if page == "about": %}
                    <li class="nav-item"><a href="/about" class="nav-link active" aria-current="page">About</a></li>
                    {% else %}
                    <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                    {% endif %}

                    {% if page == "init": %}
                    <li class="nav-item"><a href="/plot_init" class="nav-link active" aria-current="page">Initial</a></li>
                    {% else %}
                    <li class="nav-item"><a href="/plot_init" class="nav-link">Initial</a></li>
                    {% endif %}

                    {% if page == "full": %}
                    <li class="nav-item"><a href="/plot_full" class="nav-link active" aria-current="page">Full</a></li>
                    {% else %}
                    <li class="nav-item"><a href="/plot_full" class="nav-link">Full</a></li>
                    {% endif %}
                </ul>
            </header>
        </div>

    {% block div %}{% endblock %}

    {% block content %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>