{% extends 'layout.html' %}

{% block script %}
{{ script|safe }}
{% endblock %}

{% block div %}
<div class="container">
  <div class="row">
    <div class="col-10">
        <h1></h1>
        {{ div|safe }}
    </div>
    <div class="col">
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Select a City
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/plot_full?city=sf">San Francisco</a></li>
            <li><a class="dropdown-item" href="/plot_full?city=chicago">Chicago</a></li>
            <li><a class="dropdown-item" href="/plot_full?city=nyc">New York City</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/about">Suggest a City</a></li>
          </ul>
        </div>

        <div class="row">
            And then we have some text.
        </div>
    </div>
  </div>
</div>
{% endblock %}